hr {
  width: 100%;
  border: 1px solid black;
  margin: -15px 0 0;
}

.title {
  text-align: left;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  padding: 25px;
  margin: 20px auto auto;
  text-align: center;
  align-items: stretch;
  justify-content: space-evenly;
  background-color: whitesmoke;
  max-width: 50vw;
}

.input {
  display: flex;
  text-align: left;
  padding: 10px;
  font-size: medium;
  margin-top: 25px;
  border: 2px solid black;
}

.label {
  border: none;
}

.checkbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.button {
  box-shadow: 5px 5px black;
  align-self: flex-end;
}

.button:active {
  transform: translateY(4px);
}
